

@font-face {
  font-family: 'Hauser';
  src: url('./Hauser.ttf') format('truetype'); 
}

.fuente {
  font-family: 'Hauser', sans-serif;
}

.linea {
    border-bottom: 3px solid #ff4659; 
    width: 100%;
    padding-bottom: 20px;           
    display: inline-block;             
}

.imagen {
  width: 150px;       /* Ajusta según tu imagen */
  height: auto;
  margin-right: 1300px;
  object-fit: cover;
}

.linea-footer {
    border-top: 3px solid #ff4659; 
    width: 100%;
    padding-top: 20px;           
    display: inline-block;             
}

.logo{
    text-align: center;
    background-color: rgb(21, 21, 21);
}

.infopiloto{     /* Agrega bordes al texto para que la informacion pueda ser leida de mejor manera. */
  text-shadow: 
    -1px -1px 0 black,
     1px -1px 0 black,
    -1px  1px 0 black,
     1px  1px 0 black,
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;  
}